<h1>Bienvenido a Post Anonimo !</h1>
<form action="/registrar_form_post" method="post">
    <h3>Title</h3>
    <input type="text" name="title" placeholder="titulo">
    <h3>Body</h3>
    <input type="text" name="body" placeholder="contenido">
    <h3>Tags</h3>
    <input type="text" name="tags" placeholder="tags 1, tags 2, tags 3"><br><br>
    <input type="submit">
</form>

<br>
<a href="/post_all" ><button id="sesion" type="button">All Post</button></a>
